* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
}

/* Bar background: dark grey */
window#waybar {
  background: rgba(40, 40, 40, 0.9);
  color: #f5f5f5;
 border-bottom: 2px solid rgba(60, 60, 60, 1.0);
}

/* Workspaces */
#workspaces button {
  padding: 0 8px;
  color: #f5f5f5;
}

#workspaces button.active {
  background: rgba(179, 59, 59, 1); /* red active */
  border-radius: 0px;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(239, 83, 80, 0.7);
}

/* Modules (red theme) */
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#pulseaudio.input,
#network,
#backlight,
#tray {
  padding: 0 10px;
  margin: 0 3px;
  border-radius: 6px;
/*  background: rgba(183, 28, 28, 0.25);*/
  color: #ff5252;
}

/* Muted mic */
#pulseaudio.input.muted {
  color: #aaaaaa;
}

/* Battery full */
#battery.full {
  background: rgba(76, 175, 80, 0.3);
  color: #4caf50;
}

